.main{
   width: 100%; 
}





/*================================== regsiterNav开始============================= */
.registerNav{
    border:1px solid #ccc;
    width: 591px;
    background: #fff;
    height: 48px;
    display: table;
    margin:3% auto;
}
.registerNav li{
     position: relative;
    position: relative;
    width: 33.3%;
    float: left;
    line-height: 48px;
    text-align: center; 
    list-style: none;
}
.registerNav li:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid #000;
    border-top: 24px solid transparent;
    border-right: none;
    border-bottom: 24px solid transparent;
    left: 0;
    top: 0;
    z-index: 3;
}
.registerNav_h4{
    font-weight: normal;
    color:#6B6B6B;
}
.registerNav li:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid #fff;
    border-top: 24px solid transparent;
    border-right: none;
    border-bottom: 24px solid transparent;
    right: -15px;
    top: 0;
    z-index: 24;
}
.registerNav li:first-child:before{
    display: none;
}
.registerNav li:last-child:after{
    display: none;
}
.registerNav li.current{
    background: #1087EB;
}
.registerNav li.current:after{
    border-left-color: #1087EB;
}
.registerNav li.current h4{
    color:#fff;
}
/*==============-================== regsiterNav结束============================ */




.loginBox{
    padding-top: 20px;
    text-align: center;
    margin:3% auto;
    display: table;
    position: relative;
    width: 380px;
    height: 440px;
    background: #fff;
    border-radius: 5px;
    border:1px solid #ABABAB;
}
.loginInput{
    margin-top: 43px;
    position: relative;
}
.loginInput input{
    width: 100%;
    height: 40px;
    background: #eee;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    text-indent: 3em;
}
.loginInput-icon{
    position: absolute;
    transform: translateY(50%);
    margin-left: 1em;
}
.warnTip{
    font-size: 12px;
    color:#FE0B08;
}
.loginInput-tip{   
    position: absolute;
    right: 0;
    top:-2em;
}
.warnTipImg{
    vertical-align: 1px;
}
.loginInput,
.btnWrap,
.loginAbPW{
    width:  287px;
    display: inline-block;
}




.loginAbPW{
    margin-top: 20px;
    height: 1.1em;
}
.loginAbPW label{
    color: #727272;
    position: relative;
    float: left;
    /*     用户不选中文本，造成不必要的麻烦 */
   
}
.loginAbPW a{
    color:#727272;
}
.loginAbPW i{    
    vertical-align: middle;
    margin-right: 0.5em;
}
.icon-check1{
    color:#1087EB;
}
.icon-unchecked{
    color: #ddd;
}
.loginAbPW input{
/*     opacity: 0; */
    position: absolute;
    left: 0;
    z-index: 2;
}


.btnWrap{
    margin-top: 30px;
}
.btnWrap button{
    width: 100%;
    height: 40px;
    color: #fff;
    background: #1087EB;
    border-radius: 5px;
     -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}
.loginA{
    padding-top: 30px;
}
.loginA a{
    color:#666;
}



.enableBox{
    padding-top: 40px;
}
.enableBoxIcon{
    margin:30px auto;
}
.enableOl{
    width: 287px;
    margin:0 auto;
    text-align: left;
}
.enableOl a{
    text-decoration: none;
    color:#1087EB;
}
.enableOl li{
    list-style-position: inside;
    font-size: 12px;
    color:#888;
    margin-top:10px;
}
.enableOl h3{
    font-weight: normal;
}
.successMsg{
    font-size: 24px;
    line-height: 1.2;
}
.successBox .btnWrap{
    margin-top: 70px;
}








